*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 499px;
    height: 70px;
    background-color: black;
    border-radius: 10px;
    margin-top: 300px;
    margin-left: 400px;
}

.box2 {
    color: white; 
    background-color: black;
    font-size: 29px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 4px;
}

#color {
    color: rgb(52, 146, 255);
}

#btn {   
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}

.b1{
    height: 40px;
    width: 120px;
    font-size: 16px;
    border-radius: 10px;
    letter-spacing: 2px;
}

.b1:hover {
    background-color: black;
    color: whitesmoke;
}  


/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Arial, sans-serif;
    transition: background-color 0.5s ease;
}

#color-info {
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 18px;
    border-radius: 8px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ccc;
    background-color: #f1f5f8;
    cursor: pointer;
    border-radius: 5px;
} */